p {
  margin: 0;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

body {
  margin: 0;
  padding: 0;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
}
