p {
  margin: 0;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  align-content: normal;
  justify-content: center;
  color: black;
  background-color: yellow;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
