p {
  margin: 0;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

body {
  margin: 0;
  padding: 0;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: normal;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: yellow;
}
