p {
  margin: 0;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header nav"
    "main aside"
    "footer footer";
}

footer {
  font-family: Helvetica, sans-serif;
  color: white;
}

main {
  font-family: Helvetica, sans-serif;
  color: white;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  font-family: Helvetica, sans-serif;
  color: white;
  padding: 1rem;
}

aside {
  font-family: Helvetica, sans-serif;
  color: white;
  padding: 1rem;
}
nav {
  font-family: Helvetica, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.wallpapersafari.com/33/42/Avc0xl.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: normal;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  background-color: gold;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.titel {
  background-color: aqua;
  color: black;
}

.center-image {
  text-align: center;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

.second-grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
}

.color-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.color-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.svg-blue circle {
  fill: aqua;
}
