p {
  margin: 0;
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

footer {
  font-family: Helvetica, sans-serif;
  color: white;
}

main {
  font-family: Helvetica, sans-serif;
  color: white;
}

header {
  font-family: Helvetica, sans-serif;
  color: white;
}

aside {
  font-family: Helvetica, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.wallpapersafari.com/33/42/Avc0xl.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: normal;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-wrapper > div {
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: yellow;
}

.titel {
  background-color: aqua;
}
